@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.profile-form{
	width:1200px;
	height:700px;
	margin-left:300px;
	margin-top:150px;
}

.profile-form img {
	width: 100px;
	height: 110px;
	margin: 0 auto;
	border-radius: 50%;
	object-fit:fill;
}

.profile-form h1, h2{
	color:#ff5722;
	font-weight: bold;
	margin: 0;
	text-align: center;
}


.profile-form p {
	font-size: 15px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 0px;
    text-align: left;
}

.profile-form span {
	font-size: 12px;
}

.profile-form a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.profile-form button {
	border-radius: 20px;
	border: 1px solid #222831;
	background-color: #222831;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-top:20px;
}

.profile-form button:active {
	transform: scale(0.95);
}
.profile-form button:hover {
	background-color: #ff5722;
	border-color:#ff5722;
}
.profile-form button:focus {
	outline: none;
}

.profile-form button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.profile-form form {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}

.profile-form form p {
	align-items: left;
}

.profile-form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.sign-body {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	overflow: hidden;
	width: 620px;
	max-width: 100%;
	min-height: 480px;
    padding-top:20px;
}


@media(max-width:720px){
	.profile-form {
		margin: 0 auto;
		width:400px;
		margin-top:120px;
	}
}

@media(max-width:570px){
	.profile-form {
		margin-left:80px;
	}
}