@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  z-index:1111;
}

.logo-img img{
  height:80px;
  width:160px;
}

.container a{
  padding:0px;
  margin:0px;
}

.social-logo{
  margin:0px;
  margin-top:8px;
  margin-right:20px;
  padding: 0px;
}

.social{
  position:absolute;
  right:0px;
}

.mynav{
  background: #222831;
  font-size: 18px;
}

.nav-text a{
  color: rgb(255,255,255);
  text-decoration: none;
  margin-right:20px;
  font-size:20px;
  
}

.dropdown-menu {
  background-color: #ff5722 !important;
  text-align: center !important;
  font-weight: 600;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #ff5722 !important;
}

.nav-text a:hover{
  color: #ff5722;
}

.nav-droptext{
  text-decoration: none;
  color:#069191;
}

#basic-nav-dropdown{
  background-color: #222831;
}

.navbar-toggler {
  background-color: #7c8592 !important;
}

.login-logo-img img{
  height:100px;
  width:180px;
  margin-left:210px;
}

.login-card-img{
  height:640px;
}

.my_side_bar{
  background: #2d4059; 
}

#font-txt{
  color: rgb(255,255,255);
  text-decoration: none;
  font-size:22px;
}

.my_side_bar a{
  color: rgb(255,255,255);
  text-decoration: none;
  font-size:19px;
  margin:0px;
}
.gaTCvF {
  height: 100% !important;
  position:fixed !important;
  top: 95px;
}

.footer{
  height:50px;
  width:100%;
  background: #222831; 
  display: flex;
  z-index: 9999;
  position: relative;
}

.footer p{
  font-size:16px;
  color: rgb(255,255,255);
  font-weight:600;
  margin:0 auto;
  margin-top:15px;
}

@media (max-width:830px){
  .social-logo{
    width:30px;
  }
  
  .social{
    width:200px;
  }
  .footer p{
    font-size:14px;
  }
}
.navbar {
  position: fixed !important;
  display: inline-flex !important;
  width: 100% !important;
}

@media (max-width:740px){
  .social-logo{
    margin-right:0px;
  }
  
  .social{
    width:150px;
  }
  .footer p{
    font-size:12px;
    margin-left:10px;
  }
}
@media (max-width:420px){
  .footer p{
    font-size:10px;
    margin-left:5px;
  }
}


